.lots {
  margin: 177px auto 0;
  max-width: 1052px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 34px;
}

.lots__card-list-item {
  position: relative;
  max-width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center center;
  z-index: 5;
}

.card_type_film {
  background-image: url(../../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../../images/card-lot-03.jpg);
}

.card {
  display: flex;
  height: 590px;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 48px 40px 43px 40px;
}

.card-link {
  text-decoration: none;
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  text-decoration: 2px solid #fff;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.lots__look-more-link {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 100%;
  margin-left: 40px;
}
